/* Global */
body{
    background-color: #402377;
}
header{
    text-align: center;
}

main{
    display: flex;
    justify-content: center;
}
fieldset{
    border-radius: 1em;
    background-color: white;
    padding: 1em;
    box-shadow: 2px 2px 5px black;
}

h1{
    color: #ffffff;
    font-size: 2em;
    font-weight: 600;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

/* Index */
.divAddNota{
    padding: 0.5em;
}

.divTextArea{
    padding: 0.5em;
}

.divBtnResult{
    padding: 0.5em;
}

.divResult{
    padding: 0.5em;
}